@font-face {
    font-family: WorkSans-SemiBold;
    src: url(Fonts/WorkSans-SemiBold.ttf);
}
@font-face {
    font-family: WorkSans-Bold;
    src: url(Fonts/WorkSans-Bold.ttf);
}
@font-face {
    font-family: WorkSans-Regular;
    src: url(Fonts/WorkSans-Regular.ttf);
}
@font-face {
    font-family: WorkSans-Medium;
    src: url(Fonts/WorkSans-Medium.ttf);
}
@keyframes pulse {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
body{
    margin: 0;
    overflow-x:hidden;
}
header{
    height: 1000px;
    background-repeat: no-repeat;
    z-index: 3;
}
.background-header{
    width: 100%;
    z-index: 0;
    position: absolute;
    min-width: 1550px;
    left: 1px;
}
header .header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    z-index: 3;
}
header .header div{
    display: flex;
    justify-content: right;
    margin-top: 50px;
    z-index: 3;
}
header .header img{
    margin-top: 45px;
    width: 32px;
    margin-left: 30%;
    z-index: 3;
}
header .header img:hover{
    animation: pulse 1s ease-in-out;
}
header .header div a{
    margin-right: 45px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: WorkSans-SemiBold;
}
header .title{
    margin-top: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
header .title h1{
    color: white;
    font-family: WorkSans-Bold;
    font-size: 60px;
    margin: 0 0 10px 0;
    text-align: center;
    z-index: 3;
}
header .title span{
    font-family: WorkSans-Regular;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    z-index: 3;
}
header .title span:first-of-type{
    margin-top: 22px;
}
header .title div{
    margin-top: 33px;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
    border: 1px solid white;
    border-radius: 30px;
    height: 55px;
    width: 17%;
    backdrop-filter: blur(5px);
    padding: 0 10px 0 20px;
    color: white;
    font-family: WorkSans-Regular;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}
header .title div input{
    border: 0;
    background-color: rgba(220, 180, 122, 0);
    outline: 0;
    color: white;
    font-size: 18px;
    font-family: WorkSans-Regular;
    width: 80%;
}
header .title div input::placeholder{
    color: white;
    font-family: WorkSans-Regular;
    font-size: 16px;
}
header .title div img{
    width: 13.5%;
    margin-top: 5px;
}
header .crice{
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    position: absolute;
    top: 587px; left: 83.5%;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}
header .crice div{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 100px;
    transition: 0.2s;
}
header .massage{
    width: 12%;
    height: 100px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    border: 1px solid white;
    position: absolute;
    top: 470px; left: 78.8%;
    color: white;
    font-family: WorkSans-Bold;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: 0.2s;
}
header .massage span{
    margin: 20px 0 0 20px;
}
header .massage span:last-of-type{
    font-size: 16px;
    margin: 10px 0 0 20px;
}
.gradient{
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    height: 200px;
    width: 100%;
    position: absolute;
    top: 860px; left: 0;
}
.icons{
    display: flex;
    margin: auto;
    width: 80%;
    margin-top: 90px;
    justify-content: space-between;
}
.icons .element{
    display: flex;
    justify-content: center;
    align-items: end;
}
.icons .element img{
    width: 75px;
    height: 75px;
}
.icons .element div{
    display: flex;
    flex-direction: column;
    font-family: WorkSans-Medium;
    font-size: 16px;
    margin-left: 15px;
}
.icons .element div h2{
    margin: 0 0 15px 0;
}
.icons .element div span{
    color: #828282;
    font-size: 15px;
}
.colection{
    width: 80%;
    margin: auto;
    margin-top: 150px;
}
.colection h1{
    font-family: WorkSans-SemiBold;
    font-size: 70px;
    margin: 0;
}
.colection h1:last-of-type{
    margin-top: 5px;
    margin-bottom: 15px;
}
.colection #all-colection{
    display: flex;
    align-items: center;
}
.colection div p{
    color: #4F4F4F;
    font-family: WorkSans-Medium;
    font-size: 20px;
    margin-left: 5px;
}
.colection div img{
    width: 20px;
    height: 16px;
    margin-left: 15px;
}
.colection .products{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.colection .products .card{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6.6px 13px rgba(41, 41, 41, 0.08);
    border-radius: 25px;
    width: 25%;
    padding: 0 0 80px 0;
    transition: 0.4s;
}
.colection .products .card:hover{
    width: 30%;
}
.colection .products .card .background{
    background-image: url("Img/colorful-vintage-collage-design 1.png");
    background-position: center;
    width: 100%;
    height: 270px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.colection .products .card .second-background{
    background-image: url("Img/colorful-vintage-collage-design 2.png");
}
.colection .products .card .third-background{
    background-image: url("Img/colorful-vintage-collage-design 3.png");
}
.colection .products .card img{
    width: 100%;
    height: 274px;
    margin: 0;
}
.colection .products .card .price{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 80%;
    margin: auto;
    margin-top: 25px;
}
.colection .products .card .price img{
    width: 40px;
    height: 40px;
}
.colection .products .card .price div{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: WorkSans-Regular;
    font-size: 16px;
}
.colection .products .card .price div span:last-of-type{
    font-size: 22px;
    margin-top: 15px;
}
.colection .products .card .teg{
    display: flex;
    width: 60%;
    margin-left: 30px;
    justify-content: space-around;
    margin-top: 30px;
}
.colection .products .card .teg button{
    width: 30%;
    height: 40px;
    border-radius: 20px;
    border: 1.5px solid #DCB47A;
    color: #DCB47A;
    background-color: #F6FFF6;
    font-family: WorkSans-Regular;
    font-size: 14px;
}
.interior{
    text-align: center;
    margin-top: 115px;
}
.interior h1{
    font-family: WorkSans-SemiBold;
    font-size: 55px;
    margin: 0 0 20px 0;
}
.interior span{
    font-family: WorkSans-Regular;
    font-size: 20px;
}
.interior .colection-img{
    width: 80%;
    margin: auto;
    margin-top: 60px;
}
.interior .colection-img .top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.interior .colection-img .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.interior .colection-img div div img{
    width: 80%;
}
.interior .colection-img .top{
    margin-bottom: 3vw;
}
.visit{
    margin-top: 140px;
    background-color: #262626;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.visit div{
    display: flex;
    justify-content: center;
    font-family: WorkSans-SemiBold;
    font-size: 35px;
    color: white;
}
.visit div h1{
    margin: 65px 0 20px 0;
}
.visit div h1:last-of-type{
    margin-left: 20px;
    color: #DCB47A;
}
.visit span{
    color: rgba(255, 255, 255, 0.8);
    font-family: WorkSans-Regular;
    font-size: 16px;
}
.visit button{
    background-color: #DCB47A;
    border: 0;
    width: 10%;
    margin: auto;
    border-radius: 30px;
    height: 45px;
    margin-top: 35px;
    margin-bottom: 60px;
    color: white;
}
footer{
    margin-top: 140px;
}
footer #top-footer{
    display: flex;
    width: 85%;
    margin: auto;
    border-bottom: 1px solid black;
    padding: 0 0 40px 0;
}
footer #top-footer .left-footer{
    width: 30%;
    display: flex;
    align-items: center;
}
footer #top-footer .left-footer .input{
    display: flex;
    align-items: center;
    border: 1px solid #878787;
    border-radius: 30px;
    height: 50px;
    padding: 0 10px 0 10px;
    width: 80%;
}
footer #top-footer .left-footer .input input{
    border: 0;
    width: 78%;
    outline: 0;
    font-family: WorkSans-Regular;
}
footer #top-footer .left-footer .input .submit{
    border: 0;
    background-color: #DCB47A;
    border-radius: 20px;
    height: 35px;
    width: 50%;
    color: white;
    font-family: WorkSans-Regular;
}
footer #top-footer .right-footer{
    display: flex;
    width: 70%;
    justify-content: space-around;
}
footer #top-footer .right-footer .block{
    display: flex;
    flex-direction: column;
    align-items: start;
}
footer #top-footer .right-footer .block h2{
    font-family: WorkSans-Bold;
    font-size: 20px;
    margin: 0 0 15px 0;
}
footer #top-footer .right-footer .block a{
    text-decoration: none;
    font-family: WorkSans-Medium;
    color: black;
    margin-top: 20px;
    font-size: 14px;
}
footer #top-footer .right-footer .block span{
    font-family: WorkSans-Medium;
    color: black;
    margin-top: 20px;
    font-size: 14px;
}
footer #bottom-footer{
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    font-family: WorkSans-Regular;
    padding: 0 0 30px 0;

}
@media (max-width: 1440px){
    header .crice{
        top: 650px;
    }
    header .title div img{
        width: 15%;
        margin-top: 5px;
    }
}
@media (max-width: 1000px){
    header .crice{
        display: none;
        background-color: #828282;
    }
    header .title div img{
        width: 17%;
        margin-top: 5px;
    }
    .icons{
        width: 90%;
    }
}
@media (max-width: 800px){
    .colection .products{
        flex-direction: column;
        align-items: center;
    }
    .colection .products .card{
        width: 55%;
        margin-top: 40px;
    }
    .colection .products .card:hover{
        width: 60%;
    }
    .visit button{
        width: 20%;
    }
}

